@use "@/styles/helpers" as *;

.file-list {
  display: grid;
  gap: 16px;

  &--4-cols {
    grid-template-columns: repeat(2, 1fr);

    @include mobile-s {
      grid-template-columns: 1fr;
    }

    @include tablet-above {
      grid-template-columns: repeat(3, 1fr);
    }

    @include laptop-above {
      grid-template-columns: repeat(4, 1fr);
    }

    @include laptop-l-above {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}