@use 'helpers' as *;

body {
  //display: flex;
  //flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  //letter-spacing: -0.03em;
  background-color: var(--color-background);
}

main {
  flex-grow: 1;
}

h1, .h1 {
  font-size: 24px;
  font-weight: 600;
}

h2, .h2 {
  font-size: 25px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
  color: var(--color-dark);
}

h2, .h2,
h3, .h3 {
  color: var(--color-black);
}

h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 700;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit; // наследуем от body

  @include hover {
    color: var(--color-pink);
  }

  &[class] { // отключаем подчеркивание у тех ссылок, у которых уже есть классы
    text-decoration: none;
  }

}

:focus-visible { // при фокусировке с клавиатуры
  outline: 2px dashed var(--color-dark);
  border-radius: 4px;
  outline-offset: 4px;
  transition-duration: 0s !important;
}