@use 'helpers' as *;

body {
  //display: flex;
  //flex-direction: column;
  //font-family: var(--font-family-base);
  //color: var(--color-gray-50);
  //letter-spacing: -0.03em;
  //background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-white);
}

h1, .h1 {
  line-height: 1.2;
}

h2, .h2 {
  line-height: 1.3;
}

h3, .h3 {
  line-height: 1.5; // дефолтный браузерный 150% от body, можно не писать
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit; // наследуем от body

  @include hover {
    color: var(--color-white);
  }

  &[class] { // отключаем подчеркивание у тех ссылок, у которых уже есть классы
    text-decoration: none;
  }

}

:focus-visible { // при фокусировке с клавиатуры
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(44px);

      content: '';
    }
  }
}