@use 'helpers' as *;

:root {
  --color-white: #FFF;
  --color-black: #000;

  --color-dark: #0A0F1F;
  --color-dark-icon: #29353D;
  --color-gray-40: #666666;
  --color-gray-20: #333333;

  --color-background: #F9F8FF;
  --color-container: #DEF0FC;
  --color-container-secondary: #FCE9DE;
  --color-container-tertiary: #DEFCF3;

  --border-color: #DDDFE3;
  --border: 1px solid var(--border-color);

  --font-family-base: JakartaSans, sans-serif;
  --transition-duration: 0.2s;
}