@use 'helpers' as *;

:root {
  --color-white: #FFF;
  --color-black: #000;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #333;
  --color-dark-40: #666;
  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;
  --color-accent: #FFD11A;
  //--font-family-base: 'Inter', sans-serif;
  --container-width: 1600px;
  --container-padding-x: 16px;
  --transition-duration: 0.2s;

  @include laptop {
    --container-width: 1280px;
  }
}