@use '@/styles/helpers' as *;

.layout {
  &__background {
    content: '';
    position: fixed;
    inset: 0;
    background: url("@/assets/images/background.jpg") center / contain no-repeat;
    background-size: 150% auto;
    filter: blur(20px);
  }

  &__content  {
    --sidebar-width: 435px;

    display: grid;
    position: relative;
    background-color: var(--color-background);

    @include tablet {
      --sidebar-width: 300px;
    }

    @include mobile-above {
      grid-template-columns: var(--sidebar-width) auto;
    }

  }
}