@use "@/styles/helpers" as *;

.nav {
  &__list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);

    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }

  &__item {

  }
}