@use '@/styles/helpers' as *;

.sidebar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 59px;
  background-color: var(--color-white);

  @include mobile-above {
    position: sticky;
    top: 0;
    padding: 40px;
    border-right: var(--border);
    height: 100dvh;
    overflow: auto;
  }

  @include mobile {
    border-bottom: var(--border);
  }

  &__logo {
    padding-left: 45px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      aspect-ratio: 1;
      background: url("@/assets/icons/logo.svg") center / contain no-repeat;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls {
    display: grid;
    row-gap: 17px;
  }
}